---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import ProductView from '../components/ProductView.astro'
import SaleSlogan from '../components/SaleSlogan.astro'
---

<Layout title="Pludo SaaS">
	<SaleSlogan />
    <div class="bg-neutral-600 m-10 p-5 max-w-lg place-self-center rounded-lg">
        <div class="text-center">
            <h1 class="font-bold text-4xl pt-10">Get started</h1>
            <p class="font-bold text-xl">Are you ready to 10x you productivity in compute</p>
            <p class="pt-2">Click below to see the compute dashboard</p>    
        </div>
        <div class="pt-5 flex justify-center px-10 pb-10">
            <button class="btn btn-active btn-primary-content m-2">Login</button>
            <button class="btn btn-active btn-primary-content m-2">Signup</button>
        </div>
    </div>
    <Footer />
</Layout>
