---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import ProductView from '../components/ProductView.astro'
import SaleSlogan from '../components/SaleSlogan.astro'
---

<Layout title="Pludo SaaS">
	<SaleSlogan />
	<ProductView />
	<div class="text-center text-2xl font-bold font-mono text-balance pt-5">
		<h2 class="">Pludo is a powerful app for professional compute nerds to create, share, and grow a compute around their business. It comes with modern tools to build a website, publish content, send newsletters & offer paid subscriptions to members.</h2>
	</div>
	<div>
		<a href="/pricing" class="flex justify-center pt-5 text-2xl text-gray-500 pb-5">
			Try Pludo completely free for 14 days →
		</a>
	</div>
	<div class="bg-stone-500 p-20">
		<h2 class="text-2xl font-bold m-4"><div class="badge badge-primary-content">+</div> Complete control over your compute and branding.</h2>
		<h3 class="text-1xl font-bold m-4"><div class="badge badge-primary-content">+</div> Launch a custom website and tweak the design settings to perfectly match your brand and style.</h3>
		<h3 class="text-1xl font-bold m-4"><div class="badge badge-primary-content">+</div> Go even further with hundreds of custom themes in our marketplace, or build your own completely custom design from scratch.</h3>
		<h3 class="text-1xl font-bold m-4"><div class="badge badge-primary-content">+</div> Your unique brand sits front and center, while Ghost runs things in the background.</h3>
	</div>
	<div>
		<p class="text-1xl font-bold text-center pt-20">Launch Your Compute Power</p>
		<h1 class="text-4xl font-bold text-center">Last week, the last fortune 500 company joined Pludo.</h1>
		<h1 class="text-4xl font-bold text-center pb-10">Today, it's your turn.</h1>
		<div class="flex justify-center pb-20">
			<button class="btn btn-accent font-bold">Start Free-Trial Today</button>
		</div>
	</div>
	<Footer />
</Layout>
